<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <link rel="apple-touch-icon" href="../assets/icons/icon.png">
  <link rel="shortcut icon" href="../assets/icons/favicon.ico">
  <link type="text/plain" rel="author" href="../humans.txt">
  <link rel="alternate" hreflang="en" href="<%= htmlWebpackPlugin.options.url %>">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

  <%= require('html-loader!../shared/header.html').default %>

    <main role="main">
      <div class="container centered">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-md-10">
            <!-- <blockquote class="blockquote text-center">
              <p class="mb-0">>A well-known quote, contained in a blockquote element.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote>
            <blockquote class="blockquote">
              <p class="mb-0">A well-known quote, contained in a blockquote element.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote>
            <p><abbr title="attribute">attr</abbr></p>
            <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
            <blockquote class="blockquote">
              <p class="mb-0">A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <p class="lead">
              This is a lead paragraph. It stands out from regular paragraphs.
            </p> -->
            <h1 class="mt-5 mb-5">Hello, my name is Dijana Dinic</h1>
            <!-- <h2>h2. Bootstrap heading</h2>
            <h3>h3. Bootstrap heading</h3>
            <h4>h4. Bootstrap heading</h4>
            <h5>h5. Bootstrap heading</h5>
            <h6>h6. Bootstrap heading</h6>
            <h1 class="display-1">Display 1</h1>
            <h1 class="display-2">Display 2</h1>
            <h1 class="display-3">Display 3</h1>
            <h1 class="display-4">Display 4</h1> -->
            <!-- <p>You can use the mark tag to <mark>highlight</mark> text.</p>
            <p><del>This line of text is meant to be treated as deleted text.</del></p>
            <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
            <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
            <p><u>This line of text will render as underlined</u></p>
            <p><small>This line of text is meant to be treated as fine print.</small></p>
            <p><strong>This line rendered as bold text.</strong></p>
            <p><em>This line rendered as italicized text.</em></p> -->
            <div class="row">
              <div class="col">
                <p>You can use the mark tag to <mark>highlight</mark> text. For quoting blocks of content from another
                  source within your document. Abbreviations have a default underline and gain a help cursor to provide
                  additional context on hover and to users of assistive technologies. Abbreviations have a default
                  underline and gain a help cursor to provide
                  additional context on hover and to users of assistive technologies.</p>
              </div>
              <div class="col">
                <p><strong>This line rendered as bold text.</strong> element for abbreviations and acronyms to show the
                  expanded version on hover. Abbreviations have a default underline and gain a help cursor to provide
                  additional context on hover and to users of assistive technologies. Abbreviations have a default
                  underline and gain a help cursor to provide
                  additional context on hover and to users of assistive technologies.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <%= require('html-loader!../shared/footer.html').default %>

</body>

</html>
