<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <link rel="apple-touch-icon" href="../assets/icons/icon.png">
  <link rel="shortcut icon" href="../assets/icons/favicon.ico">
  <link type="text/plain" rel="author" href="../humans.txt">
  <link rel="alternate" hreflang="en" href="<%= htmlWebpackPlugin.options.url %>">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

  <%= require('html-loader!../shared/header.html').default %>

    <main role="main">
      <div class="py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Paintings
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Commissions
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Watercolor
                  </div>
                </div>
              </a>
            </div>

            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Graphics
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Textile
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Thumbnail
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Thumbnail
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Thumbnail
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                      dy=".3em"></text>
                  </svg>
                  <div class="gallery-title card-footer text-muted text-center">
                    Thumbnail
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>

    </main>

    <%= require('html-loader!../shared/footer.html').default %>

</body>

</html>
