<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <link type="text/plain" rel="author" href="humans.txt">
  <link rel="alternate" hreflang="en" href="<%= htmlWebpackPlugin.options.url %>">

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body class="cover-background text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
    </header>
    <main role="main">
      <img class="img-fluid logo" alt="Logo" src="<%= require('../../assets/images/logo.png') %>" />
    </main>
    <footer class="mt-auto">
    </footer>
  </div>

  <script src="https://www.google-analytics.com/analytics.js" async></script>
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'G-J9LNH9T3M8', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>

</body>

</html>
