<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <link type="text/plain" rel="author" href="humans.txt">
  <link rel="alternate" hreflang="en" href="<%= htmlWebpackPlugin.options.url %>">

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body class="cover-background text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
    </header>
    <main role="main">
      <img class="img-fluid logo" alt="Logo" src="<%= require('../../assets/images/logo.png') %>" />
    </main>
    <footer class="mt-auto">
    </footer>
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J9LNH9T3M8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-J9LNH9T3M8');
  </script>

</body>

</html>
