<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-tap-highlight" content="no">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

  <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>">
  <meta itemprop="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta itemprop="image" content="<%= htmlWebpackPlugin.options.imageUrl %>">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">

  <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.imageUrl %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.siteName %>">

  <link rel="apple-touch-icon" href="./icons/icon.png">
  <link rel="shortcut icon" href="./icons/favicon.ico">
  <link type="text/plain" rel="author" href="./assets/humans.txt">
  <link rel="stylesheet" href="./css/app.css">
  <link rel="alternate" hreflang="en" href="<%= htmlWebpackPlugin.options.url %>">

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>
  <!-- TODO -->

  <!-- header -->

  <header>

    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Blog</li>
        <li>Exit</li>
      </ul>
    </nav>

  </header>

  <!-- header end -->

  <main role="main">

    <h1>HELLO FROM HTML BOILERPLATE</h1>

    <!-- example -->

    <section class="example">

      <div class="cards">
        <article></article>
        <article></article>
        <article></article>
      </div>

    </section>

    <!-- example end -->

  </main>

  <!-- footer -->

  <footer>

    <address>
      2018 (v.2.0)
    </address>

  </footer>

  <!-- footer end -->

  <script type="text/javascript" src="../build/app.js"></script>

  <!-- TODO -->
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>

</body>

</html>